* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merienda";
}

body {
  height: 100vh;
  width: 100%;
}

/* *********************** SECTION 1 ******************************  */

.section1 {
  background-image: url(/assets/images/Background/asso-myron-uLBraHlT1Uw-unsplash.jpg);
  height: 950px;
  width: 100%;
  background-size: cover;
  background-position: 30%;
}

.titre1 {
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
  position: relative;
  left: 200px;
  top: 400px;
  width: 600px;
}

.section1-menus {
  display: flex;
  gap: 80px;
  position: relative;
  left: 200px;
  top: 500px;
  color: white;
  width: 600px;
  text-shadow: 1px 1px 1px black;
}

.section1-menus h1 {
  font-size: 1.2rem;
}

.section1-menus a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  background-image: url(/assets/icons/icons8-chevron-droit-50\ marron.png);
}

.compte1 {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.liste1 {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

/* *********************** SECTION 2 ******************************  */

.section2 {
  background-color: #46211a;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content2 {
  height: 400px;
  width: 1000px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.titre2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titre2 img {
  height: 130px;
}

.titre2 h1 {
  font-size: 6rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.content2 p {
  color: white;
  font-size: 1.1rem;
  text-shadow: 2px 2px 2px black;
}

.content2-1 {
  width: 1000px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.content2-1 h1 {
  border-left: 2px solid #a43820;
  border-bottom: 2px solid #a43820;
  margin-bottom: 15px;
  padding-left: 5px;
}

/* *********************** SECTION 3 ******************************  */

.section3 {
  background-color: #693d3d81;
  height: 600px;
}

.content3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 100%;
  width: 100%;
}

.texte3 {
  width: 450px;
}

.texte3 h1 {
  font-size: 2rem;
}

.texte3 p {
  letter-spacing: 1px;
}

.texte3 a {
  height: 20px;
  width: 80px;
  color: white;
  background-color: #a43820;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 5px;
}

/* *********************** SECTION 4 ******************************  */

.section4 {
  background-color: #46211a;
  height: 800px;
  width: 100%;
}

.content4 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.texte4 {
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  width: 1000px;
  height: 300px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 50px;
}

.texte4 p {
  width: 800px;
}

.photos4 {
  width: 100%;
  height: 400px;
  display: flex;
}

.photos4-1 {
  width: 25%;
  height: 100%;
  background-size: cover;
  background-image: url(/assets/images/section4/clement-remond-xVRw4WY2Rgs-unsplash.jpg);
  background-position: 0 35%;
}

.photos4-2 {
  width: 25%;
  height: 100%;
  background-size: cover;
  background-image: url(/assets/images/section4/dan-asaki-wC_YNVgIRdA-unsplash.jpg);
  background-position: 0 50%;
}

.photos4-3 {
  width: 25%;
  height: 100%;
  background-size: cover;
  background-image: url(/assets/images/section4/diogo-fagundes-dbBKeN1s8GY-unsplash.jpg);
  background-position: 0 100%;
}

.photos4-4 {
  width: 25%;
  height: 100%;
  background-size: cover;
  background-image: url(/assets/images/section4/les-elby-pe-eF3pFjYI-unsplash.jpg);
}

/* *********************** SECTION 5 ******************************  */

.section5 {
  background-color: #693d3d81;
  height: 800px;
}

.content5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 100%;
  width: 100%;
}

.photos5 {
  background-image: url(/assets/images/section5/shot-by-cerqueira-cCkheI30Jd4-unsplash.jpg);
  width: 600px;
  height: 550px;
  background-size: cover;
}

.texte5 {
  width: 600px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.texte5 h1 {
  font-size: 2rem;
}

.texte5 p {
  letter-spacing: 1px;
}

.texte5-1 {
  display: flex;
  flex-flow: row;
  margin-top: 50px;
  gap: 50px;
}

.texte5-1 img {
  width: 50px;
}

/* *********************** SECTION 6 ******************************  */

.section6 {
  background-color: #46211a;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.contact {
  height: 400px;
  color: white;
}

.contact h1 {
  font-size: 2rem;
  margin: 20px 0;
  text-shadow: 1px 1px 1px black;
}

.social {
  text-align: center;
  margin-top: 180px;
}

.social img {
  height: 30px;
}

.content6 {
  width: 450px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.content6 input,
textarea {
  height: 40px;
  width: 100%;
  border-radius: 2px;
}

.content6 input[type="submit"] {
  width: 25%;
  background-color: #a43820;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.content6 input[type="submit"]:hover {
  background-color: #a438207d;
}
