* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merienda", "Cursive";
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.9);
}

body {
  width: 100%;
}

h2,
p {
  color: #1e150b;
}

.row {
  margin-bottom: 0;
}

/* ============================== NAVBAR ============================== */
.nav #hamBurger {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  background-color: #a43820;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}
.nav #hamBurger::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateY(-5px);
  transition: 0.2s;
}
.nav #hamBurger span {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.9);
}
.nav #hamBurger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateY(5px);
  transition: 0.2s;
}
.nav #hamBurger.active::before {
  transform: translateY(0px) rotate(45deg);
}
.nav #hamBurger.active span {
  display: none;
}
.nav #hamBurger.active::after {
  transform: translateY(0px) rotate(-45deg);
}
.nav #navBar {
  position: absolute;
  height: 55vh;
  width: 35%;
  background-color: #1e150b;
  top: -25px;
  left: -50%;
  transition: all 1s ease;
  z-index: 9;
  border-bottom-right-radius: 750px;
}
.nav #navBar .navLinks {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.nav #navBar .navLinks a {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 0.6rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 1px #a43820;
}
.nav #navBar .navLinks a i {
  color: #a43820;
  font-size: 2.5rem;
}
.nav #navBar.active {
  position: absolute;
  left: 0;
  transition: all 0.5s ease;
}

/* ============================== HEADER ============================== */
header {
  background-image: url(/assets/images/backGround/headerBackground.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.headerContent {
  position: absolute;
  top: 55%;
  right: 3%;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}
.headerContent .headerTitre h1 {
  font-size: 3rem;
  font-family: "Merienda One", "Cursive";
  text-shadow: 1px 1px 5px #a43820;
  margin: 0;
}
.headerContent .headerLinks {
  display: flex;
  gap: 10px;
  justify-content: end;
}
.headerContent .headerLinks a {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0 8px;
  font-size: 0.6rem;
  border-radius: 12px;
}
.headerContent .headerLinks i {
  color: #a43820;
  margin: 0;
}

/* ============================== ABOUT ============================== */
.about {
  background-color: #e8e7e0;
  position: relative;
}
.about .aboutContent {
  text-align: center;
}
.about .aboutContent h2 {
  font-size: 1.5rem;
  margin-top: 50px;
}
.about .aboutContent p {
  font-size: 0.8rem;
  line-height: 22px;
  margin-bottom: 25px;
}
.about .aboutContent .aboutSocial a {
  margin: 0 10px;
}
.about .aboutContent .aboutSocial img {
  width: 30px;
}
.about .aboutCircle {
  height: 90%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #926747;
  opacity: 0.4;
  border-radius: 500px 0 0;
}

/* ============================== OFFRES ============================== */
.offres {
  background-color: rgba(146, 104, 71, 0.5019607843);
  text-align: center;
  padding-bottom: 25px;
}
.offres .offresTitre h2 {
  font-size: 1.5rem;
  margin-top: 50px;
}
.offres .offresContent {
  display: flex;
  flex-flow: column wrap;
}
.offres .offresContent .card {
  border-radius: 15px;
  background-color: #1e150b;
}
.offres .offresContent .card-image {
  padding: 20px;
}
.offres .offresContent .card-content {
  padding: 0;
  padding-bottom: 15px;
}
.offres .offresContent .card-content p {
  color: #a43820;
  font-size: 1rem;
}
.offres .offresContent .card-action {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.offres .offresContent .card-action p {
  font-size: 1.1rem;
  color: #a43820;
}

/* ============================== CONTACT ============================== */
.contact {
  background-color: #e8e7e0;
  position: relative;
  text-align: center;
}
.contact .contactCircle {
  height: 0%;
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: #926747;
  opacity: 0.4;
  border-radius: 0 0 0 500px;
}
.contact .contactContent {
  padding-bottom: 25px;
}
.contact .contactContent .contactTitre h2 {
  font-size: 1.5rem;
  margin-top: 50px;
}
.contact .contactContent .contactTexte p {
  font-size: 0.8rem;
  line-height: 22px;
  margin-bottom: 25px;
}
.contact .contactContent .input-field {
  margin: 15px 0;
}
.contact .contactContent .input-field input[type=text]:focus + label,
.contact .contactContent .input-field input[type=email]:focus + label,
.contact .contactContent .input-field textarea:focus + label {
  color: #a43820;
}
.contact .contactContent .input-field input[type=text]:focus,
.contact .contactContent .input-field input[type=email]:focus,
.contact .contactContent .input-field textarea:focus {
  border-bottom: 1px solid #a43820;
  box-shadow: 0 1px 0 0 #a43820;
}
.contact .contactContent .input-field .prefix.active {
  color: #a43820;
}
.contact .contactContent .input-field input,
.contact .contactContent .input-field textarea {
  color: #1e150b;
  font-size: 0.8rem;
}
.contact .contactContent .input-field label {
  font-size: 0.8rem;
}
.contact .contactContent .input-field i {
  color: #1e150b;
}

/* ============================== FOOTER ============================== */
footer {
  height: 80px;
  background-color: #1e150b;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .foot p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.9);
}

/* ==================================================== RESPONSIVE ==================================================== */
/* ============================== 426px ============================== */
@media screen and (min-width: 426px) {
  /* ============================== NAVBAR ============================== */
  nav #hamBurger {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  nav #hamBurger::before {
    width: 25px;
    height: 2px;
  }
  nav #hamBurger span {
    width: 25px;
    height: 2px;
  }
  nav #hamBurger::after {
    width: 25px;
    height: 2px;
  }
  nav #navBar {
    height: 60vh;
    width: 20%;
  }
  nav #navBar .navLinks a {
    font-size: 0.8rem;
  }
  nav #navBar .navLinks a img {
    height: 45px;
  }
  /* ============================== HEADER ============================== */
  .headerContent {
    top: 60%;
    right: 5%;
  }
  .headerContent .headerTitre h1 {
    font-size: 4rem;
  }
  .headerContent .headerLinks {
    gap: 25px;
  }
  .headerContent .headerLinks img {
    height: 30px;
  }
  .headerContent .headerLinks a {
    font-size: 0.8rem;
  }
  /* ============================== ABOUT ============================== */
  .about .aboutContent h2 {
    font-size: 2rem;
  }
  .about .aboutContent p {
    font-size: 1rem;
    line-height: 25px;
  }
  /* ============================== OFFRES ============================== */
  .offres .offresTitre h2 {
    font-size: 2rem;
    margin-bottom: 35px;
  }
  .offres .offresContent .offresSolo h3,
.offres .offresContent .offresDuo h3,
.offres .offresContent .offresStudio h3 {
    font-size: 1.2rem;
    margin: 15px 0;
  }
  .offres .offresContent .offresSolo p,
.offres .offresContent .offresDuo p,
.offres .offresContent .offresStudio p {
    font-size: 1rem;
    padding: 0 10px;
  }
  .offres .offresContent .offresSolo a,
.offres .offresContent .offresDuo a,
.offres .offresContent .offresStudio a {
    padding: 4px;
  }
  /* ============================== CONTACT ============================== */
  .contact {
    height: 600px;
  }
  .contact .contactContent h2 {
    font-size: 2rem;
  }
  .contact .contactContent p {
    font-size: 1rem;
    line-height: 25px;
  }
  .contact .contactContent .contactForm {
    gap: 30px;
  }
  .contact .contactContent .contactForm input,
.contact .contactContent .contactForm textarea {
    font-size: 1rem;
  }
  /* ============================== FOOTER ============================== */
  footer .foot p {
    font-size: 1rem;
  }
}
/* ==================================================== 600px ==================================================== */
@media screen and (min-width: 600px) {
  /* ============================== OFFRES ============================== */
  .offres .offresContent {
    gap: 35px;
  }
  .offres .offresContent .offresSolo h3,
.offres .offresContent .offresDuo h3,
.offres .offresContent .offresStudio h3 {
    font-size: 1.5rem;
    margin: 20px 0;
  }
  .offres .offresContent .offresSolo img,
.offres .offresContent .offresDuo img,
.offres .offresContent .offresStudio img {
    width: 65%;
  }
  .offres .offresContent .offresSolo p,
.offres .offresContent .offresDuo p,
.offres .offresContent .offresStudio p {
    padding: 0 15px;
  }
  /* ============================== CONTACT ============================== */
  .contact {
    height: 600px;
  }
  .contact .contactContent h2 {
    font-size: 2rem;
  }
  .contact .contactContent p {
    font-size: 1rem;
    line-height: 25px;
  }
  .contact .contactContent .contactForm {
    gap: 30px;
  }
  .contact .contactContent .contactForm input,
.contact .contactContent .contactForm textarea {
    font-size: 1rem;
    width: 300px;
  }
  .contact .contactContent .contactForm input[type=button] {
    width: 35%;
  }
  /* ============================== FOOTER ============================== */
  footer .foot p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */