@import "./assets/mixins/mixins";
@import "./assets/variables/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontPrinc;
  letter-spacing: 1px;
  color: $colorTexte;
}

body {
  width: 100%;
}

/* ============================== NAVBAR ============================== */

.nav {
  #hamBurger {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    background-color: $colorSecond;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $colorTexte;
      transform: translateY(-5px);
      transition: 0.2s;
    }

    span {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $colorTexte;
    }

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $colorTexte;
      transform: translateY(5px);
      transition: 0.2s;
    }
  }

  #hamBurger.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #hamBurger.active span {
    display: none;
  }

  #hamBurger.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  #navBar {
    position: absolute;
    height: 55vh;
    width: 35%;
    background-color: $colorBackground_dark;
    top: -25px;
    left: -50%;
    transition: all 1s ease;
    z-index: 9;
    border-bottom-right-radius: 750px;

    .navLinks {
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      gap: 60px;

      a {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        font-size: 0.6rem;
        text-decoration: none;
        color: $colorTexte;
        text-shadow: 1px 1px 1px $colorSecond;

        i {
          color: $colorSecond;
          font-size: 2.5rem;
        }
      }
    }
  }

  #navBar.active {
    position: absolute;
    left: 0;
    transition: all 0.5s ease;
  }
}

/* ============================== HEADER ============================== */

header {
  background-image: url(/assets/images/backGround/headerBackground.jpg);
  height: 100vh;
  @include backGround;
}

.headerContent {
  position: absolute;
  top: 55%;
  right: 3%;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;

  .headerTitre h1 {
    font-size: 3rem;
    font-family: $fontSecond;
    text-shadow: 1px 1px 5px $colorSecond;
  }

  .headerLinks {
    display: flex;
    gap: 10px;
    justify-content: end;

    a {
      background-color: transparent;
      border: 1px solid $colorSecond;
      padding: 0 8px;
      font-size: 0.6rem;
      border-radius: 12px;
    }

    i {
      color: $colorSecond;
      margin: 0;
    }
  }
}

/* ============================== ABOUT ============================== */

.about {
  height: 400px;
  // =====================================================================================================
  background-color: $colorBackground_white;
  position: relative;

  .aboutContent {
    text-align: center;

    h2 {
      color: $colorBackground_dark;
      font-size: 1.5rem;
      margin-top: 50px;
    }

    p {
      color: $colorBackground_dark;
      font-size: 0.8rem;
      line-height: 22px;
    }
  }

  .aboutCircle {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: $colorBackground_brown;
    opacity: 0.4;
    border-radius: 500px 0 0;
  }
}

/* ============================== OFFRES ============================== */

.offres {
  background-color: #92684780;

  .offresTitre h2 {
    font-size: 1.5rem;
    text-align: center;
    color: $colorBackground_dark;
    margin-top: 50px;
  }
}

/* ============================== CONTACT ============================== */

.contact {
  height: 550px;
  background-color: $colorBackground_white;
  position: relative;

  .contactCircle {
    height: 70%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: $colorBackground_brown;
    opacity: 0.4;
    border-radius: 0 0 0 500px;
  }

  .contactContent {
    display: flex;
    flex-flow: column wrap;
    gap: 25px;
    @include flexCenter;
    text-align: center;
    width: 80%;
    margin: 0 auto;

    h2 {
      color: $colorBackground_dark;
      font-size: 1.5rem;
      padding-top: 50px;
      margin-bottom: 25px;
    }

    p {
      color: $colorBackground_dark;
      font-size: 0.8rem;
      line-height: 22px;
      text-align: center;
    }

    .contactForm {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      gap: 25px;
      z-index: 15;

      input,
      textarea {
        font-size: 0.8rem;
        border: 2px solid $colorSecond;
        border-radius: 8px;
        padding: 3px 5px;
        background-color: $colorTexte;
        color: $colorBackground_dark;

        &:focus {
          outline-color: $colorBackground_dark;
        }
      }

      input[type="button"] {
        background-color: $colorBackground_dark;
        color: $colorTexte;
      }
    }
  }
}

/* ============================== FOOTER ============================== */

footer {
  height: 80px;
  background-color: $colorBackground_dark;
  display: flex;
  @include flexCenter;

  .foot p {
    font-size: 0.8rem;
    color: $colorTexte;
  }
}

/* ==================================================== RESPONSIVE ==================================================== */

/* ============================== 426px ============================== */

@media screen and (min-width: 426px) {
  /* ============================== NAVBAR ============================== */

  nav {
    #hamBurger {
      width: 40px;
      height: 40px;
      border-radius: 50px;

      &::before {
        width: 25px;
        height: 2px;
      }

      span {
        width: 25px;
        height: 2px;
      }

      &::after {
        width: 25px;
        height: 2px;
      }
    }

    #navBar {
      height: 60vh;
      width: 20%;

      .navLinks {
        a {
          font-size: 0.8rem;

          img {
            height: 45px;
          }
        }
      }
    }
  }

  /* ============================== HEADER ============================== */

  .headerContent {
    top: 60%;
    right: 5%;

    .headerTitre h1 {
      font-size: 4rem;
    }

    .headerLinks {
      gap: 25px;

      img {
        height: 30px;
      }

      a {
        font-size: 0.8rem;
      }
    }
  }

  /* ============================== ABOUT ============================== */

  .about {
    .aboutContent {
      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
        line-height: 25px;
      }
    }
  }

  /* ============================== OFFRES ============================== */

  .offres {
    .offresTitre h2 {
      font-size: 2rem;
      margin-bottom: 35px;
    }

    .offresContent {
      .offresSolo,
      .offresDuo,
      .offresStudio {
        h3 {
          font-size: 1.2rem;
          margin: 15px 0;
        }

        p {
          font-size: 1rem;
          padding: 0 10px;
        }

        a {
          padding: 4px;
        }
      }
    }
  }

  /* ============================== CONTACT ============================== */

  .contact {
    height: 600px;

    .contactContent {
      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
        line-height: 25px;
      }

      .contactForm {
        gap: 30px;

        input,
        textarea {
          font-size: 1rem;
        }
      }
    }
  }

  /* ============================== FOOTER ============================== */

  footer {
    .foot p {
      font-size: 1rem;
    }
  }
}

/* ==================================================== 600px ==================================================== */

@media screen and (min-width: 600px) {
  /* ============================== OFFRES ============================== */

  .offres {
    .offresContent {
      gap: 35px;

      .offresSolo,
      .offresDuo,
      .offresStudio {
        h3 {
          font-size: 1.5rem;
          margin: 20px 0;
        }

        img {
          width: 65%;
        }

        p {
          padding: 0 15px;
        }
      }
    }
  }

  /* ============================== CONTACT ============================== */

  .contact {
    height: 600px;

    .contactContent {
      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
        line-height: 25px;
      }

      .contactForm {
        gap: 30px;

        input,
        textarea {
          font-size: 1rem;
          width: 300px;
        }

        input[type="button"] {
          width: 35%;
        }
      }
    }
  }

  /* ============================== FOOTER ============================== */

  footer {
    .foot p {
      font-size: 1rem;
    }
  }
}
