* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merienda";
}

body {
  height: 100vh;
  width: 100%;
}

.background1 {
  background-image: url(/assets/images/asso-myron-uLBraHlT1Uw-unsplash.jpg);
  height: 950px;
  width: 100%;
  background-size: cover;
  background-position: 30%;
}

.titre1 {
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
  position: relative;
  left: 200px;
  top: 400px;
  width: 600px;
}

.section1-menus {
  display: flex;
  gap: 80px;
  position: relative;
  left: 200px;
  top: 500px;
  color: white;
  width: 600px;
  text-shadow: 1px 1px 1px black;
}

.section1-menus h1 {
  font-size: 1.2rem;
}

.section1-menus a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  background-image: url(/assets/icons/icons8-chevron-droit-50.png);
}

.compte1 {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.liste1 {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.background2 {
  background-color: #46211a;
  height: 300px;
}
