@import "./assets/mixins/mixins";
@import "./assets/variables/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontPrinc;
  letter-spacing: 1px;
  color: $colorTexte;
}

body {
  width: 100%;
}

h2,
p {
  color: $colorBackground_dark;
}

.row {
  margin-bottom: 0;
}

/* ============================== NAVBAR ============================== */

.nav {
  #hamBurger {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    background-color: $colorSecond;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $colorTexte;
      transform: translateY(-5px);
      transition: 0.2s;
    }

    span {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $colorTexte;
    }

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $colorTexte;
      transform: translateY(5px);
      transition: 0.2s;
    }
  }

  #hamBurger.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #hamBurger.active span {
    display: none;
  }

  #hamBurger.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  #navBar {
    position: absolute;
    height: 55vh;
    width: 90px;
    background-color: $colorBackground_dark;
    top: -25px;
    left: -50%;
    transition: all 1s ease;
    z-index: 9;
    border-bottom-right-radius: 750px;
    border-right: 1px solid $colorSecond;
    border-bottom: 1px solid $colorSecond;

    .navLinks {
      height: 100%;
      display: flex;
      flex-flow: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 60px;

      a {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        font-size: 0.6rem;
        text-decoration: none;
        color: $colorTexte;
        text-shadow: 1px 1px 1px $colorSecond;

        i {
          color: $colorSecond;
          font-size: 2.5rem;
        }
      }
    }
  }

  #navBar.active {
    position: absolute;
    left: 0;
    transition: all 0.5s ease;
  }
}

/* ============================== HEADER ============================== */

header {
  background-image: url(/assets/images/backGround/headerBackground.jpg);
  height: 100vh;
  @include backGround;
}

.headerContent {
  position: absolute;
  top: 55%;
  right: 3%;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;

  .headerTitre h1 {
    font-size: 3rem;
    font-family: $fontSecond;
    text-shadow: 1px 1px 5px $colorSecond;
    margin: 0;
  }

  .headerLinks {
    display: flex;
    gap: 10px;
    justify-content: end;

    a {
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 0 8px;
      font-size: 0.6rem;
      border-radius: 12px;
    }

    i {
      color: $colorSecond;
      margin: 0;
    }
  }
}

/* ============================== ABOUT ============================== */

.about {
  background-color: $colorBackground_white;
  position: relative;

  .aboutContent {
    text-align: center;

    h2 {
      font-size: 1.5rem;
      margin: 0;
      margin-top: 50px;
    }

    .separation {
      @include separation;
      width: 100px;
    }

    p {
      font-size: 0.8rem;
      line-height: 22px;
      margin-bottom: 25px;
    }

    .aboutSocial {
      margin-bottom: 25px;
      a {
        margin: 0 10px;
      }
      img {
        width: 30px;
      }
    }
  }

  .aboutCircle {
    height: 90%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #92684718;
    border-radius: 500px 0 0;
  }
}

/* ============================== OFFRES ============================== */

.offres {
  background: rgb(224, 219, 210);
  text-align: center;

  .offresTitre {
    h2 {
      font-size: 1.5rem;
      margin: 0;
      margin-top: 50px;
    }

    .separation {
      @include separation;
      width: 130px;
    }
  }

  .offresContent {
    display: flex;
    flex-flow: column wrap;

    .card {
      border-radius: 15px;
      background-color: $colorBackground_dark;
      border: 2px solid $colorSecond;
      box-shadow: 1px 1px 10px 0px $colorBackground_dark;
      margin: 25px 0;
    }

    .card-image {
      padding: 20px;
    }

    .card-title {
      color: $colorSecond;
      font-size: 1rem;
    }

    .card-content {
      padding: 0;
      padding-bottom: 15px;

      p {
        color: $colorSecond;
        font-size: 0.8rem;
        padding: 0 10px;
      }
    }

    .card-action {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      a {
        font-size: 0.8rem;
      }
    }
    .card
      .card-action
      a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
      margin: 0;
    }
  }
}

/* ============================== CONTACT ============================== */

.contact {
  background-color: $colorBackground_white;
  position: relative;
  text-align: center;

  .contactCircle {
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: #92684718;
    border-radius: 0 0 0 500px;
  }

  .contactContent {
    padding-bottom: 25px;

    .contactTitre {
      h2 {
        font-size: 1.5rem;
        margin: 0;
        margin-top: 50px;
      }

      .separation {
        @include separation;
        width: 190px;
      }
    }

    .contactTexte p {
      font-size: 0.8rem;
      line-height: 22px;
      margin-bottom: 25px;
    }

    .input-field {
      margin: 15px 0;

      & input[type="text"]:focus + label,
      input[type="email"]:focus + label,
      textarea:focus + label {
        color: $colorSecond;
      }

      & input[type="text"]:focus,
      input[type="email"]:focus,
      textarea:focus {
        border-bottom: 1px solid $colorSecond;
        box-shadow: 0 1px 0 0 $colorSecond;
      }

      & .prefix.active {
        color: $colorSecond;
      }

      input,
      textarea {
        color: $colorBackground_dark;
        font-size: 0.8rem;
      }

      label {
        font-size: 0.8rem;
      }

      i {
        color: $colorBackground_dark;
      }
    }

    .btnForm {
      background-color: $colorBackground_dark;
      border: 2px solid $colorSecond;
      border-radius: 15px;
      font-size: 0.8rem;
      margin-top: 25px;
      margin-bottom: 50px;
    }
  }
}

/* ============================== FOOTER ============================== */

footer {
  height: 60px;
  background-color: $colorBackground_dark;
  display: flex;
  @include flexCenter;

  .footer-copyright {
    p {
      font-size: 0.8rem;
      color: $colorTexte;
    }
  }
}

/* ==================================================== RESPONSIVE ==================================================== */

/* ============================================= 426px ============================================= */

@media screen and (min-width: 426px) {
  /* ============================== NAVBAR ============================== */

  .nav {
    #hamBurger {
      width: 40px;
      height: 40px;
      border-radius: 25px;

      &::before {
        width: 25px;
      }

      span {
        width: 25px;
      }

      &::after {
        width: 25px;
      }
    }

    #navBar {
      height: 60vh;
      width: 100px;

      .navLinks {
        gap: 50px;

        a {
          font-size: 0.8rem;

          i {
            font-size: 3rem;
          }
        }
      }
    }
  }

  /* ============================== HEADER ============================== */

  .headerContent {
    .headerTitre h1 {
      font-size: 4.5rem;
    }

    .headerLinks {
      a {
        font-size: 0.8rem;
      }

      i {
        font-size: 3rem;
      }
    }
  }

  /* ============================== ABOUT ============================== */

  .about {
    .aboutContent {
      h2 {
        font-size: 2rem;
        margin-top: 80px;
      }

      .separation {
        width: 130px;
      }

      p {
        font-size: 1rem;
        line-height: 25px;
        margin-bottom: 50px;
      }

      .aboutSocial {
        margin-bottom: 50px;
        a {
          margin: 0 15px;
        }
        img {
          width: 35px;
        }
      }
    }
  }

  /* ============================== OFFRES ============================== */

  .offres {
    .offresTitre {
      h2 {
        font-size: 2rem;
        margin-top: 80px;
      }

      .separation {
        width: 160px;
      }
    }

    .offresContent {
      .card {
        margin: 50px 0;
      }

      .card-title {
        font-size: 1.2rem;
      }

      .card-content {
        p {
          font-size: 1rem;
        }
      }

      .card-action {
        a {
          font-size: 1rem;
        }
      }
    }
  }

  /* ============================== CONTACT ============================== */

  .contact {
    .contactContent {
      padding-bottom: 50px;

      .contactTitre {
        h2 {
          font-size: 2rem;
          margin-top: 80px;
        }

        .separation {
          width: 240px;
        }
      }

      .contactTexte p {
        font-size: 1rem;
        line-height: 25px;
        margin-bottom: 50px;
      }

      .input-field {
        input,
        textarea {
          font-size: 1rem;
        }

        label {
          font-size: 1rem;
        }

        i {
          font-size: 2.5rem;
        }
      }

      .btnForm {
        font-size: 1rem;
        margin-top: 30px;
      }
    }
  }

  /* ============================== FOOTER ============================== */

  footer {
    height: 80px;

    .footer-copyright {
      p {
        font-size: 1rem;
      }
    }
  }
}

/* ============================================= 1440px ============================================= */

@media screen and (min-width: 1440px) {
  /* ============================== NAVBAR ============================== */

  .nav {
    #navBar {
      height: 70vh;
      width: 120px;

      .navLinks {
        gap: 70px;

        a {
          font-size: 1rem;
        }
      }
    }
  }

  /* ============================== HEADER ============================== */

  .headerContent {
    .headerTitre h1 {
      font-size: 6rem;
    }

    .headerLinks {
      a {
        font-size: 1rem;
      }

      i {
        font-size: 4rem;
      }
    }
  }

  /* ============================== ABOUT ============================== */

  .about {
    .aboutContent {
      h2 {
        font-size: 3rem;
        margin-top: 120px;
      }

      .separation {
        width: 210px;
      }

      p {
        font-size: 1.1rem;
        line-height: 30px;
        margin-bottom: 80px;
      }

      .aboutSocial {
        margin-bottom: 80px;
        a {
          margin: 0 20px;
        }
        img {
          width: 40px;
        }
      }
    }
  }

  /* ============================== OFFRES ============================== */

  .offres {
    .offresTitre {
      h2 {
        font-size: 3rem;
        margin-top: 120px;
      }

      .separation {
        width: 250px;
      }
    }

    .offresContent {
      .card {
        margin: 80px 40px;
      }

      .card-title {
        font-size: 1rem;
      }

      .card-content {
        p {
          font-size: 1.1rem;
        }
      }

      .card-action {
        a {
          font-size: 1.1rem;
        }
      }
    }
  }

  /* ============================== CONTACT ============================== */

  .contact {
    .contactContent {
      padding-bottom: 80px;

      .contactTitre {
        h2 {
          font-size: 3rem;
          margin-top: 120px;
        }

        .separation {
          width: 380px;
        }
      }

      .contactTexte p {
        font-size: 1.1rem;
        line-height: 30px;
        margin-bottom: 80px;
      }

      .input-field {
        margin: 30px 0;

        input,
        textarea {
          font-size: 1.1rem;
        }

        label {
          font-size: 1.1rem;
        }

        i {
          font-size: 3rem;
        }
      }

      .btnForm {
        font-size: 1.1rem;
        margin-top: 50px;
      }
    }
  }

  /* ============================== FOOTER ============================== */

  footer {
    .footer-copyright {
      p {
        font-size: 1.1rem;
      }
    }
  }
}
