// ====================== COLORS ======================

$colorPrim : #46211a;
$colorSecond : #a43820;
$colorTexte : rgba(255, 255, 255, 0.9);
$colorBackground_dark : #1e150b;
$colorBackground_brown : #926747;
$colorBackground_white : #e8e7e0;

// ====================== FONTS ======================

$fontPrinc : 'Merienda', 'Cursive';
$fontBold : font-weight 700;
$fontSecond : 'Merienda One', 'Cursive';
