// ====================== COLORS ======================

$colorPrim : #46211a;
$colorSecond : #a43820;
$colorThird : rgba(255, 255, 255, 0.9);

// ====================== FONTS ======================

$fontPrinc : 'Merienda', 'Cursive';
$fontBold : font-weight 700;
$fontSecond : 'Merienda One', 'Cursive';
