// ====================== COLORS ======================

$colorPrim : #46211a;
$colorsecond : #a43820;

// ====================== FONTS ======================

$fontPrinc : 'Merienda', 'Cursive';
$fontBold : font-weight 700;
$fontSecond : 'Merienda One', 'Cursive';
