@mixin flexCenter {
  align-items: center;
  justify-content: center;
}

@mixin layoutOptions {
  width: 25%;
  height: 100%;
  background-size: cover;
}

@mixin backGround {
  background-size: cover;
  background-position: center;
}

@mixin separation {
  height: 1px;
  border: 1px solid $colorBackground_dark;
  border-radius: 5px;
  opacity: 0.4;
  margin: 5px auto;
  margin-bottom: 25px;
}
